
<h5>Araba Kirala</h5>
<div class="card">
    <div class="card-header"><h5 class="title">Araç kirala</h5></div>
  
    <div class="card-body">
  
      <form [formGroup]="rentalAddForm">
    
        <div class="mb-1">
          <label for="customerID">Müşteri</label>
          <div class="form-group">       
            <select class="form-select">
                <option [value]="customer.customerID"  *ngFor="let customer of customers">
                   {{customer.customerID}} {{ customer.firstName }} {{ customer.lastName }} | {{ customer.companyName }}
                </option>
              </select>
          </div>
        </div>
  
        <div class="mb-1">
          <label for="customer">Kiralama tarihi</label>
          <div class="form-group">
            <input type="date"  (change)="calcTotalPrice()"  id="rentDate" class="form-control" 
            formControlName="rentDate" min="{{ rentDate }}" value="{{ rentDate | date:'yyyy-MM-dd'}}"/>
          </div>
        </div>
  
        <div class="mb-1">
          <label for="customer">Teslim tarihi</label>
          <div class="form-group">
            <input type="date" id="returnDate"  (change)="calcTotalPrice()"  class="form-control" 
            formControlName="ReturnDate" min="{{ ReturnDate }}" value="{{ ReturnDate | date:'yyyy-MM-dd'}}">
          </div>
        </div>
  
        <div class="mb-1">
          <label for="customer">Toplam ücret</label>
          <div class="form-group"> <h4> {{ totalPrice }} TL </h4> </div>
        </div>
  
      </form>
    </div>
  
    <div class="card-footer">
      <button class="btn btn-fill btn-primary"  (click)="add()">Onayla</button>
    </div>
   
    <div *ngIf="isPaymentActive">
      <app-payment></app-payment>  
    </div>
  
  </div>
