<div class="car-header">
  Araba Detayları
</div>
    <div *ngIf="car" class="mt-4" >
      <img src="{{imageBasePath}}{{car.imagePath}}" class="card-img-top" width="400" height="400">
          <table class="table table-bordered"></table>
          <tr>
            <th>Adı: </th>
            <td>{{car.carName}}</td>
          </tr>
          <tr>
            <th>Marka: </th>
            <td>{{car.brandName}}</td>
          </tr>
          <tr>
            <th>Renk: </th>
            <td>{{car.colorName}}</td>
          </tr>
          <tr>
            <th>Fiyatı: </th>
            <td>{{car.dailyPrice | currency}}</td>
          </tr>
          <tr>
            <th>Model Yılı: </th>
            <td>{{car.modelYear}}</td>
          </tr>
          <tr>
            <th>Açıklama: </th>
            <td>{{car.description}}</td>
          </tr>
      </div>
      <button type="button" class="btn btn-success">Kirala</button>