<div class="car-header">
  <h2>Araba Detayları</h2>
</div>
    <div *ngIf="carDetail" class="mt-4" >
      <img src="{{imageBasePath}}{{carDetail.imagePath}}" class="card-img-top" width="50" height="400">
          <table class="table table-bordered"></table>
          <tr>
            <th>Adı: </th>
            <td>{{carDetail.carName}}</td>
          </tr>
          <tr>
            <th>Marka: </th>
            <td>{{carDetail.brandName}}</td>
          </tr>
          <tr>
            <th>Renk: </th>
            <td>{{carDetail.colorName}}</td>
          </tr>
          <tr>
            <th>Fiyatı: </th>
            <td>{{carDetail.dailyPrice | currency}}</td>
          </tr>
          <tr>
            <th>Model Yılı: </th>
            <td>{{carDetail.modelYear}}</td>
          </tr>
          <tr>
            <th>Arabayı Kiralayabilmek İçin Gerekli Findeks Puanı:  </th> <br>
            <td>{{carDetail.findeksPoint}}</td>
          </tr>
      </div>
      <div class="col-md-5">
      <button routerLink="/cart/{{car.carID}}" type="button"  class="btn btn-success">Kirala</button>
      </div>
