<div class="carousel-inner">
    <div *ngFor="let car of cars" class="carousel-item active" data-bs-interval="10000">
     
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div>
        <ul *ngFor="let car of cars" class="list-group list-group-flush">
          <li class="list-group-item">Marka: {{car.brandName}}</li>
          <li class="list-group-item">Renk: {{car.colorName}}</li>
          <li class="list-group-item">Model Yılı: {{car.modelYear}}</li>
          <li class="list-group-item">Fiyat: {{car.dailyPrice}} Türk Lirası</li>
        </ul>
      </div>