
<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Ödeme Yap</h5></div>
            <div class="icons">
                <img  style="margin-left: 20px;" src="https://img.icons8.com/color/48/000000/visa.png" />
                <img
                  src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
                />
                <img src="https://img.icons8.com/color/48/000000/maestro.png" />
            </div>
            <div class="card-body">
            <form [formGroup]="paymentAddForm">
                <div class="mb-3">
                    <label for="nameSurname">Adınız</label>
                    <div class="form-group">
                        <input type="text" 
                        id="NameSurname" 
                        formControlName="nameSurname" class="form-control" 
                        placeholder="ad girin"/>
                    </div>
                    </div>
                    <div class="mb-3">
                        <label for="cardNo">Kart No</label>
                        <div class="form-group">
                            <input type="text" 
                            id="cardNo" 
                            formControlName="cardNo" class="form-control" 
                            placeholder="kart numarası"/>
                        </div>
                        </div>
                        <div class="mb-3">
                            <label for="expirationDate">Son Kullanma Tarihi</label>
                            <div class="form-group">
                                <input type="date" 
                                id="expirationDate" 
                                formControlName="expirationDate" class="form-control" value="{{ expirationDate | date:'yyyy-MM'}}"/>
                            </div>
                            </div>
                            <div class="mb-3">
                                <label for="cvc">CVC</label>
                                <div class="form-group">
                                    <input type="text" 
                                    id="cvc" 
                                    formControlName="cvc" class="form-control"/>
                                </div>
                                </div>
                </form>
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="isCheck" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Kredi Kartını Kaydet</label>
                  </div>
                <div class="card-footer">
                    <button class="btn btn-fill btn-success" (click)="add()">Ödeme Yap</button>
                </div>
            </div>
        </div>
    </div>
</div>
