<div class="container">
<app-nav></app-nav>
<div class = "row">
<div class="col-md-2">
  <h5>Markalar</h5>
  <app-brand></app-brand>
</div>
<div class="col-md-9">
  <h5>Arabalar</h5>
  <router-outlet></router-outlet>
</div>
<div class="col-md-2">
   <h5>Renkler</h5>
  <app-color></app-color>
</div>
</div>


<div class="row">
<div class ="col-md-3">
  <h5>Müsteriler</h5>
  <app-customer></app-customer>
</div>
<div class="col-md-1">
  <h5>Kiralanma Geçmisi</h5>
  <app-rental></app-rental>
</div>
</div>

</div>
