<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Profilin</h5></div>
            <div class="card-body">
            <form [formGroup]="userUpdateForm">
                <div class="mb-3">
                    <label for="araba">Ad: </label>
                    <div class="form-group">
                        <input type="text" 
                        id="firstName" 
                        formControlName="firstName" class="form-control" 
                        placeholder="firstName"/>
                    </div>
                    </div>
                <div class="mb-3">
                    <label for="renk">Soyad: </label>
                    <div class="form-group">
                        <input type="text" 
                        id="lastName" 
                        formControlName="lastName" class="form-control" 
                        placeholder="lastName"/>
                    </div>
                    </div>
                <div class="mb-3">
                    <label for="ad">E Mail: </label>
                    <div class="form-group">
                        <input type="text" 
                        id="email" 
                        formControlName="email" class="form-control" 
                        placeholder="email"/>
                    </div>
                    </div>
                </form>
                <div class="card-footer">
                    <button class="btn btn-fill btn-success" (click)="userUpdate()">Güncelle</button>
                </div>

                <app-password></app-password>
            </div>
        </div>
    </div>
</div>