<div class="mb-3">
  <label for="araçAra" class="form-label"></label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="araçAra" placeholder="araç ara">
</div>
<div *ngIf=(filterText) class="alert alert-primary">
{{filterText}} aradınız.
</div>
<app-car-filter></app-car-filter>
<div class="row">
  <div *ngFor="let car of cars | filterCar:filterText" class="table" style="width: 23rem;">
    <img src="{{imageBasePath}}{{car.imagePath}}" class="card-img-top" width="320" height="200">
    <ul class="list-group">
      <li class="list-group-item">Adı: {{car.carName}}</li>
      <li class="list-group-item">Fiyat: {{car.dailyPrice | currency}}</li>
      <button routerLink="cars/getcardetailbyid/{{car.carID}}" type="button" class="btn btn-primary">Detaylar</button>
    </ul>
    </div>
</div>



















