<div class="mb-3">
  <label for="araçAra" class="form-label"></label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="araçAra" placeholder="araç ara">
</div>
<div *ngIf=(filterText) class="alert alert-primary">
{{filterText}} aradınız.
</div>

<label for="cars">Markayı seç:</label>
<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

<div class="row">
  <div *ngFor="let car of cars | filterCar:filterText" class="table" style="width: 23rem;">
    <img src="{{imageBasePath}}{{car.imagePath}}" class="card-img-top" width="320" height="200">
    <ul class="list-group">
      <li class="list-group-item">Adı: {{car.carName}}</li>
      <li class="list-group-item">Fiyat: {{car.dailyPrice | currency}}</li>
      <button routerLink="cars/getcardetail/{{car.carID}}" type="button" class="btn btn-primary">Detaylar</button>
      <button routerLink="cars/getcardetail/{{car.carID}}" type="button" class="btn btn-success">Kirala</button>
    </ul>
    </div>
</div>



















