<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Adı</th>
            <th>Yıl</th>
            <th>Fiyat</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
       <td>{{car.carID}}</td>
       <td>{{car.brandID}}</td>
       <td>{{car.colorID}}</td>
       <td>{{car.carName}}</td>
       <td>{{car.modelYear}}</td>
       <td>{{car.dailyPrice}}</td>
       <td>{{car.description}}</td>
    </tr>
 </table>
